@media only screen and (max-width: 992px) {
	.main-post .post-top-area,
	.main-post .post-bottom-area{ margin: 30px; }

	.info-area{ padding: 30px 0; }
	.info-area .sidebar-area,
	.info-area .tag-area{ padding-left: 0px; }
}

@media only screen and (max-width: 767px) {
	.slider{ height: 400px; width: 100%; background-image: url(../../images/category-1.jpg); background-size: cover; }  
}

@media only screen and (max-width: 479px) {
	.main-post ul.post-icons,
	.main-post ul.icons{ float: none; margin-top: 10px; }	
	.main-post ul.post-icons > li > a > i,
	.main-post ul.icons > li > a > i{ padding: 0; padding-right: 10px; }
}