.main-slider{ width: 100%; padding-right: 150px; }  
.main-slider{ overflow: hidden; position: relative; }
.main-slider .swiper-container{ overflow: visible; }
.main-slider .category{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; color: #fff; }
.main-slider .category:after{ content:''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; 
	background: rgba(0,0,0,.4); } 

.main-slider .swiper-button-prev, 
.main-slider .swiper-button-next{ top: 0; bottom: 0; width: auto; margin: 0; background: none; font-size: 4em; 
	top: 50%; margin-top: -50px; height: 100px; color: #fff; }
.main-slider .swiper-button-prev{ left: 20px; }
.main-slider .swiper-button-next{ right: 20px; }

.blog-area .post-style-2{ padding-bottom: 0; text-align: left; }
.blog-area .post-style-2 .title{ padding: 15px 0px 20px; }
.post-style-2 .avatar-area{ padding: 25px 0 15px; position: relative; }
.post-style-2 .avatar{ margin: 0px; }
.post-style-2 .avatar-area .right-area{ margin-left: 90px; position: absolute; top: 50%; transform: translateY(-50%); }
.post-style-2 .blog-image{ width: 50%; float: left; height: 100%; }
.post-style-2 .blog-image img{ height: 100%; width: 100%; }
.post-style-2 .blog-info{ width: 50%; float: left; height: 100%; position: relative; padding: 30px; padding-bottom: 45px; }

.post-style-2.post-style-3 .blog-info{ width: 100%; float: none; }

.blog-area .post-style-4{ margin-bottom: 30px; }
.display-table .display-table-cell.title{ padding: 30px; }
.load-more-btn{ padding: 15px 40px; margin: 10px 0 30px; transition: all .3s; box-shadow: 0px 0px 2px rgba(0,0,0,.4);
	background: #C3D8F5; }
.load-more-btn:hover{ transform: translateY(-2px); box-shadow: 5px 10px 20px rgba(0,0,0,.3); } 