@media only screen and (max-width: 767px) {
	.main-slider{ padding-right: 0px; }  
	
	.post-style-2 .blog-image{ width: 100%; height: auto; float: none; }
	.post-style-2 .blog-info{ height: auto; width: 100%; }
}