@media only screen and (max-width: 992px) {
	.main-post{ border-right: 0px ; }
	.main-post .blog-post-inner,
	.main-post .post-icons-area{ padding-right: 0px; }
	
	.info-area{ padding: 30px 0; }
	.info-area .sidebar-area,
	.info-area .tag-area{ padding-left: 0px; }
}

@media only screen and (max-width: 479px) {
	.main-post ul.post-icons,
	.main-post ul.icons{ float: none; margin-top: 10px; }
	.main-post ul.post-icons > li > a > i,
	.main-post ul.icons > li > a > i{ padding: 0; padding-right: 10px; }
}