<div class="swiper-slide">
    <a class="slider-category" href="/categoryOne"><!-- href du theme sélectionnable pour afficher les articles de ce theme -->
        <div class="blog-image"><img src="images/category-1-400x250.jpg" alt="Blog Image"></div><!-- url de l'image du theme -->
        <div class="category">
            <div class="display-table center-text">
                <div class="display-table-cell">
                    <h3><b>BEAUTY</b></h3> <!-- nom du theme -->
                </div>
            </div>
        </div>
    </a>
</div><!-- swiper-slide -->